
name: Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    name: A job to run test in FreeBSD
    steps:
    - uses: actions/checkout@v4
    - name: Test in FreeBSD
      id: test
      uses: vmactions/freebsd-vm@v1
      with:
        prepare: 
          pkg update && pkg install -y git gmake gcc aria2

        run: |
          git clone https://github.com/aria2/aria2.git
          cd aria2
          ./configure
          gmake
          gmake install
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3.0.1
      with:
        name: aria2-freebsd
        path: aria2/src/aria2c



